.registration {
    position: relative;
    min-height: 100vh;

    .registration-container {
        background-color: #fff;
        padding: 3rem;
        border-radius: 5%;
        margin: 0 auto;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .registration-title {
            margin: 0 0 2rem 0;
            color: #6C5B7B;
            font-family: $secondary-font;
            font-size: 30px;
            letter-spacing: 5%;
        }
    
        .registration-form {
    
            .links {

                .error {
                    margin-top: 0.2rem;
                    font-size: 1.2rem;
                    color: rgb(175, 0, 0);
                }
    
                li {
                    margin: 1.5rem 0 0 0;
                    display: flex;
                    flex-direction: column;
    
                    &:first-child {
                        margin: 0;
                    }
    
                    input {
                        padding: 0.8rem 1rem ;
                        width: 300px;
                        border: 1px solid #c9c9c9;
                        border-radius: 3px;
                        outline: none;
    
                        &:focus {
                            border: 1px solid #6C5B7B ;
                        }
                    }
    
                    .already-registered {
                        display: block;
                        text-align: center;
                        margin: 40px 0 0 0;
                        color: #757575;
                        font-size: 1.2rem;
    
                        a {
                            color: #757575;
                            text-decoration: underline;
                        }
                    }
    
                    .btn-registration {
                        padding: 0.6rem 1rem;
                        background: #6C5B7B;
                        color: #fff;
                        text-decoration: none;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-family: $secondary-font;
                        letter-spacing: 0.1rem;
    
                        &:hover {
                            background: #365063;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .registration {

        .registration-container {
            margin: 10rem auto;
        }
    }
}